<div class="container-header">
  <header>
    <h1><span>N</span>ome <span>L</span>oja</h1>

    <div class="box-button-header">
      <button>Camiseta</button>
      <button>Calça</button>
      <button>Boné/Gorros</button>
    </div>

    <div class="box-input">
      <input type="text" />
      <img src="./../../../assets/icone-pesquisar.svg" alt="" />
    </div>
  </header>

  <div class="container-carrinho">
    <div class="box-carrinho">
      <button>
        <img src="../../../assets/sacola-header.png" alt="" srcset="" />
      </button>
    </div>
  </div>
</div>
